.SS2-container{
    padding: 2rem;
    /* display: none; */
}
.SS2-container >*{
    margin: 1rem;
}

.SS2-container ol>*{
    margin-top: 0.5rem;
}


.SS2-container h1{
    text-align: center;
    font-size: 2rem;
    color: red;
}

.SS2-container h2{
    text-decoration: underline;
}

.SS2-container input{
    margin-right: 0.5rem;
}

#CQ-SS2 button{
    font-weight: bold;
    margin-right: 0.25rem;
}

#SS2-04{
    /* display: none; */
}

#SS2-04 hr{width: 40%;}

#SS2-04 >*{margin-top: 0.5rem;}

#displayContacts td {
    padding: 0 2rem 0 2rem;
    border-bottom: 1px solid black;
}